[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
yapf = "*"

[packages]
parse = "*"
networkx = "*"

[requires]
python_version = "3.6"
